<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Project</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="icon" type="image/x-icon" href="/signin/logo_app_claro.png">


    

</head>

<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <v-app id="app">
        <v-container class="container-flex" style="display: flex; flex-wrap: nowrap;" fill-height>
            <div class="img-logo" style="width: 100%; text-align: right;"><img class="img-logo-img"
                    src="/signin/logo_app_claro.png" alt=""></div>
            <v-row justify="start" align-items="start">
                <div class="col-before" style="width: 60%;">
                    <v-card-text>
                        <v-card-title
                            style="margin-top: 30px; font-size: 3rem;  text-align: center; font-weight: bold; color: #575454; font-family: 'Bebas Neue'; ">
                            Tenarse</v-card-title>
                        <v-text-field id="email" v-model="email" color="#575454" style="margin-top: 0px;" outlined
                            label="Username" append-icon="mdi-email">
                        </v-text-field>
                        <v-text-field  id="pass" v-model="pass" outlined color ="#575454"
                        :type="showPassword ? 'text' : 'password'" label="Password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword">
                    </v-text-field>
                        <button class="btn-sign" @click="verify_login(email, pass)" style="width: 100%; height: 50px; border: 1px solid grey;">
                            <span style="font-weight: 500; font-size: 17px;">Sign In</span>
                        </button>
                        <br><br>
                        <div style="text-align: center;">
<!--                             <p>Don't have an account? <a class="sign-up" href="http://localhost:4000/register">Sign Up</a></p>
 -->                            <p>Don't have an account? <a class="sign-up" href="https://tenarse.online/register">Sign Up</a></p>

                        </div>

                        <div class="span-div">
                            <span class="hr-span">OR</span>
                        </div>
                        <br>
                        <div id="g_id_onload"     
                            data-client_id="473605537300-nf5611uhudkvb5qe7as91131c4fsgvcf.apps.googleusercontent.com"
                            data-context="signin" data-ux_mode="popup" data-callback="retCall" data-itp_support="true">
                        </div>

                        <div style="display: flex; justify-content: center;" class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline"
                            data-text="continue_with" data-size="large" data-logo_alignment="left"     data-scope="profile https://www.googleapis.com/auth/user.birthday.read">

                        </div>
                </div>
                </v-card-text>
                </div>
            </v-row>
        </v-container>
    </v-app>
    <script>
        function decodeJwtResponse(token) {
            let base64Url = token.split('.')[1]
            let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
            return JSON.parse(jsonPayload)
        }
    
        let responsePayload;
        function retCall(response) {
            // decodeJwtResponse() is a custom function defined by you
            // to decode the credential response.
            responsePayload = decodeJwtResponse(response.credential);
            vue_app.login(responsePayload.given_name, responsePayload.family_name, responsePayload.email, responsePayload.email, responsePayload.sub, responsePayload.picture);
            console.log(responsePayload)
            console.log("ID: " + responsePayload.sub);
            console.log('Full Name: ' + responsePayload.name);
            console.log('Given Name: ' + responsePayload.given_name);
            console.log('Family Name: ' + responsePayload.family_name);
            console.log("Image URL: " + responsePayload.picture);
            console.log("Email: " + responsePayload.email);
            console.log("Birthday: " + responsePayload.birthday);

        }
    </script>

</body>
<script src="/signin/index.js"></script>

</html>