.firstCo{
    background-color: black;
}


.title5{
	font-size: 1.7em;
    
	font-weight: bold;
		text-shadow: -1px 1px 0 #ffffff,
				  1px 1px 0 #ffffff,
				 1px -1px 0 #ffffff,
				-1px -1px 0 #ffffff;
				transition: .9s;
				color: black;
                position: absolute;
                transform: translate(-0%, 0%);
                bottom: 42%;
                font-family: 'Bebas Neue';
}



#text-melia{
	position: absolute;
	left: 27%;
	bottom: 7%;
	color: white;
	display: flex;
	font-size: 20px;
	display: none;
	flex-direction: column;
}

#text-teo{
	position: absolute;
	left: 45%;
	bottom: 5%;
	color: white;
	display: flex;
	font-size: 20px;
	display: none;
	flex-direction: column;
}

#text-narcis{
	position: absolute;
	left: 68%;
	bottom: 5%;
	color: white;
	display: flex;
	font-size: 20px;
	flex-direction: column;
	display: none;
}

.hover-us{
	position: absolute;
	bottom: 22%;
	left: 7%;
	color: white;
	font-size: 40px;
	font-family: 'Bebas Neue';
	font-weight: bold;

}

.v-application .info{
	background-color: transparent !important;
}
.v-application p{
	margin: 0 !important;
}
