#section4{
	background-color: black;
}

.all4{
    left: 45%;
	top: 5%;
    position: absolute;
    transform: translate(0%, -0%);
    z-index: 1;
	z-index: 1;
    width: 45%;
    display: flex;
    flex-direction: column;
	font-family: 'Bebas Neue';
}

.title4{
	font-size: 1.7em;
	font-weight: bold;
		text-shadow: -1px 1px 0 #ffffff,
				  1px 1px 0 #ffffff,
				 1px -1px 0 #ffffff,
				-1px -1px 0 #ffffff;
				transition: .9s;
				color: black;

}


.text4{
	font-size: 0.7em;
}


.final4{
	bottom: 15%;
    position: absolute;
    transform: translate(0%, -0%);
    z-index: 1;
	z-index: 1;
    width: 80%;
    display: flex;
    flex-direction: row;
	font-family: 'Bebas Neue';
    justify-content: space-between;

}


.click4{
	font-size: .5em;
	margin-left: 60px;
}

#icon-right4{
	margin-left: 10px;
	position: relative;
	animation: 1.5s flecha4 infinite;

}

.scroll-right4{
	margin-right: 20px;
}

@keyframes flecha4 {
    0% {
        left: 0%;
    }

    50% {
        left: 15%;

    }

    100% {
        left: 0%;
    }
}