#section2{
    background: black;
}

.wrapp{
    top: 15%;
    position: absolute;
    transform: translate(-10%, -0%);
    z-index: 1;
}
.btn-start{
    bottom: 45%;
    position: absolute;
    transform: translate(-10%, -0%);
    z-index: 1;
}
.btn-download{
    position: absolute;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transform: translate(-10%, -0%);
    text-align: center;
}
#text-link{
    font-size: 30px;
    font-family: 'Bebas Neue';
}
#link-download{
    font-size: 40px;
    font-family: 'Bebas Neue';
    color: white;
    border: 1px solid white;
    transition: 0.4s ease;
    padding-right: 15px;
    text-decoration: none;
}

#link-download:hover{
    transition: 0.4s ease;
    box-shadow: 10px 10px white;
}


.link-start{
    text-decoration: none;
    color: white !important;
    font-family: 'Bebas Neue';
    font-size: 67px;
    border: 1px solid white;
    padding: 5px 100px 5px 100px;
    transition: 0.5s;
}

.link-start:visited{
    box-shadow: 10px 10px white;

    transition: 0.5s;
}
.link-start:focus{
    box-shadow: 10px 10px white;

    transition: 0.5s;
}

.link-start:hover{
    box-shadow: 10px 10px white;

    transition: 0.5s;
}
.link-start:active{
    box-shadow: 10px 10px white;

    transition: 0.5s;
}

#typ.animate{
    display: block;
    animation: typing 2.6s steps(36), blink .5s step-end infinite
    alternate;
}
.typ {
    width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Bebas Neue';
  font-size: 4em;
  display: none;
  font-weight: bold;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


