<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile/style.css">
    <link rel="stylesheet" href="/client/css/media.css">
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker@1.6.2/dist/vuejs-datepicker.min.js"></script>

    <title>Project</title>
</head>

<body>
    <v-app id="app">

        <ul class="ul-parent2">
            <h1 style="margin-top: 40px; font-size: 50px; font-weight: bold; font-family: 'Bebas Neue';">Following</h1>
            <h4 style="font-size: 19px; font-weight: bold; font-family: 'Bebas Neue';">Num:{{lenFollowing}}</h4>
            <v-divider style="width: 80%; margin-top: 15px;"></v-divider>
            <div  v-if="perfil != null" class="scrollable-comments">
            <li style="margin-top: 20px; width: 100%; display: flex; flex-direction: row;" v-for="perfil in followingList">
                <v-avatar style="height: 30px; width: 30px;" class="avatar">
                    <img :src="perfil.user_img"  referrerpolicy="no-referrer"></v-img>
                </v-avatar>
                 <div style="margin-top: 15px;"><b>{{perfil.username}}</b>
            </li>
            </div>
            <div v-if="perfil == null" style="position: absolute; bottom: 1%; width: 80%;" class="add-comment">
                <v-divider style="width: 100%; margin-bottom: 15px; "></v-divider>
                <h4  style="text-align: center;font-size: 21px; font-weight: bold; color: #999999; font-family: 'Bebas Neue'; ">
                    <a style="color: black !important; text-decoration: none;"href="http://localhost:4000/sign/">Sign in</a> or 
                    <a style="color: black !important; text-decoration: none;"href="http://localhost:4000/register/">Sign up</a> <br> to view users
                </h4>

            </div>
        </ul>


        <ul class="ul-parent3">
            <h1 style="margin-top: 40px; font-size: 50px; font-weight: bold; font-family: 'Bebas Neue';">Followers</h1>
            <h4 style="font-size: 19px; font-weight: bold; font-family: 'Bebas Neue';">Num:{{lenFollowers}}</h4>
            <v-divider style="width: 80%; margin-top: 15px;"></v-divider>
            <div  v-if="perfil != null" class="scrollable-comments">
            <li style="margin-top: 20px; width: 100%; display: flex; flex-direction: row;" v-for="perfil in followersList">
                <v-avatar style="height: 30px; width: 30px;" class="avatar">
                    <img :src="perfil.user_img"  referrerpolicy="no-referrer"></v-img>
                </v-avatar>
                 <div style="margin-top: 15px;"><b>{{perfil.username}}</b>
            </li>
            </div>
            <div v-if="perfil == null" style="position: absolute; bottom: 1%; width: 80%;" class="add-comment">
                <v-divider style="width: 100%; margin-bottom: 15px;"></v-divider>
                <h4  style="text-align: center;font-size: 21px; font-weight: bold; color: #999999; font-family: 'Bebas Neue'; ">
                    <a style="color: black !important; text-decoration: none;"href="http://localhost:4000/sign/">Sign in</a> or 
                    <a style="color: black !important; text-decoration: none;"href="http://localhost:4000/register/">Sign up</a> <br> to view users
                </h4>

            </div>
        </ul>
        <div style="height: 100vh; width: 100%;">
            <v-container fluid class="container-flex" style="flex-direction: column; flex-wrap: unset; align-items: unset;" fill-height dense>
                <button style="margin-left: 10px; position: absolute;" @click="goBack()"><v-icon class="left-arrow" style="font-size: 45px;">mdi-arrow-left</v-icon></button>

                <v-row style=" height: 25%;" no-gutters>
                    <v-col cols="12">
                        <div
                            style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; width: 100%;">
                            <v-avatar id="avatar-logo" size="150" elevation="4">
                                <img :src="perfil.url_img" referrerpolicy="no-referrer">
                            </v-avatar>
                            <div
                                style="position: relative; bottom: -10%; font-size: 2em; font-weight: bold; font-family: 'Bebas Neue';">
                                {{perfil.username}}
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; margin-top: -30px;">
                            {{perfil.nombre}} {{perfil.apellidos}}
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px; ">
                            <v-btn v-if="following == 0" @click="follow()" style="margin: 0 100px; box-shadow: none !important; padding: 0 45px;">FOLLOW</v-btn>
                            <v-btn v-if="following == 1"  @click="deleteFollow()" style="margin: 0 100px; box-shadow: none !important; padding: 0 45px; color: white; background-color: #263238;">FOLLOWING</v-btn>

                        </div>

                    </v-col>
                </v-row>

                <v-row justify="center" style="margin-top: -10px;">
                    <v-row style="max-width: 50%;" dense>
                        <v-col cols="6" offset-sm-3>
                            <div
                                style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; width: 100%;">
                                <div id="followers-toggle" style="width: 150px; cursor: pointer; text-align:center; font-weight: bold; font-family: 'Bebas Neue'; font-size: 3em;">
                                    {{lenFollowers}}</div>
                                <h2 style="font-weight: bold; font-family: 'Bebas Neue';font-size: 1.4em;">Followers

                                </h2>
                            </div>
                        </v-col>
                        <v-col cols="6" offset-sm-3>
                            <div
                                style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; width: 100%;">
                                <div id="following-toggle" style="cursor: pointer; width: 150px; text-align:center; font-weight: bold; font-family: 'Bebas Neue'; font-size: 3em;">
                                    {{lenFollowing}}</div>
                                <h2 style="font-weight: bold; font-family: 'Bebas Neue'; font-size: 1.4em;">Following
                                </h2>
                            </div>
                        </v-col>
                    </v-row>
                </v-row>

                <v-row justify="center" style="margin-top: -30px;">
                    <div class="scrollable" style="max-height: 400px; width: 75%; display: flex; justify-content: center;">
                        
                        <v-row style=" max-width: 75%; display: flex; flex-wrap: wrap;" dense>
                            <v-col v-if="lenPost > 0" v-for="publicacion in perfil.publicacions" :key="publicacion.id" cols="3">
                                <div style="background-color: #ccc; height: 200px; margin: 10px;">
                                </div>
                            </v-col>
                            <v-col v-if="lenPost == 0" cols="12">
                                <div style="height: 350px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: 'bebas neue';
                                font-size: 3.5em;
                                color: #999999;;">
                                    No hay publicaciones disponibles
                                </div>
                            </v-col>
                        </v-row>
                    </div>
                </v-row>

                <button class="btn-up" style="bottom: 20px; position: fixed; right: 50px; display: none;"><v-icon class="left-arrow" style="font-size: 45px;">mdi-arrow-up</v-icon></button>

            </v-container>
        </div>

    </v-app>
</body>
<script src="/profile/index.js"></script>

</html>