.v-avatar {
    top: 12px;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
    box-shadow: none !important;
    background-color: white !important;

}

.parent-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
    width: 60%;
    height: 700px;
    margin-top: 25px;
}

.header-app{
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transition: 0.6s ease !important;
    z-index: 9999;
    height: 78px !important;
}

.header-title {
    width: 100%;
    font-size: 50px !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Bebas Neue';
}

.avatar {
    margin-left: 25px;
}

.header-card {
    display: flex;
    flex-direction: row;
    height: 75px;
}

.name-header {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}

.share-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 25px;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }


  .left-arrow:hover{
    color: black !important;
    font-weight: bold;
    transition: 0.6s !important;
  }

  .left-arrow{
    transition: 0.6s;
  }