<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app2/style.css">
    <link rel="stylesheet" href="/css/media.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker@1.6.2/dist/vuejs-datepicker.min.js"></script>

    <title>Project</title>
</head>

<body>
    <v-app class="app-final" id="app">

          <button class="btn-show-menu" style="width: 50px; margin-top: 25px; margin-left: 25px; position: fixed;"id="menu-toggle"><v-icon id="icon-new" style="font-size: 30px;">mdi-menu</v-icon></button>

          <ul class="ul-parent">

            <img id="logo" style="width: 100px;" src="/app2/logo_app_claro.png" alt="">
            <li><a @click="infoDialog = true, getProfiles()"><v-icon>mdi-magnify</v-icon></a></li>
            <li><a @click="showMyProfile()"><v-icon>mdi-account</v-icon></a></li>
            <li><a  @click="logout()"><v-icon>mdi-logout</v-icon></a></li>
          </ul>


        <v-container id="container-flex" class="container-flex" fill-height>
            <v-row  justify="center">

<!--                 <v-text-field v-model="profile" color="#575454" style="margin-top: 100px;" outlined
                label="Escribe" >
               
            </v-text-field>
            <v-btn style="margin-top: 100px;" @click="showPerfil(profile)">SEND</v-btn> -->
            
                <div class="scrollable" style=" width: 75%; display: flex; flex-direction: column; justify-content: center;">
                        <v-col style="display: flex; justify-content: center;" v-for="publicacion in publicacions" :key="publicacion.id">
                            <div class="parent-card">
                                <div class="header-card">
                                    <v-avatar class="avatar">
                                        <img :src="publicacion.user_img"  referrerpolicy="no-referrer"></v-img>
                                    </v-avatar>
                                    <div class="name-header"><a  style="color: black; text-decoration: none;" @click="showPerfil(publicacion.owner)">{{publicacion.owner}}</a></div>
                                    <div class="share-header"><v-btn @click="tryShare()" value="share" style="box-shadow: none !important; background-color: transparent !important;"><v-icon>mdi-share</v-icon></v-btn></div>
                                </div>
                                {{publicacion.text}}
                                <div style="height: 575px; border-radius: 15px; overflow: hidden;">
                                    
                                        <img :src="publicacion.url_img" style="border-radius: 6px;   width: 100%; cursor: pointer;
                                        height: 100%; 
                                        object-fit: cover;" v-on:click="showPubli(publicacion._id)" referrerpolicy="no-referrer"></img>
                                
                                </div>
            
                                <v-bottom-navigation elevation="0">
                                    <v-btn v-if="publicacion.isLike == null && isLike == 0" v-on:click="addLike(publicacion._id)" value="recent">
                                        <v-icon>mdi-heart</v-icon>
                                    </v-btn>
                                    <v-btn v-if="publicacion.isLike == 1 || isLike == 1 " v-on:click="removeLike(publicacion._id)" value="recent">
                                        <v-icon color="red">mdi-heart</v-icon>
                                    </v-btn>
             
                                    <v-btn v-on:click="showPubli(publicacion._id)" value="favorites">
                                        <v-icon>mdi-message</v-icon>
                                    </v-btn>
                                    <v-btn value="nearby">
                                        <v-icon>mdi-send</v-icon>
                                    </v-btn>
                                </v-bottom-navigation>

                                <v-dialog v-model="infoDialog" v-if="infoDialog == true" width="500" :retain-focus="false">
                                    <v-card>
                                            <v-card-title>Users</v-card-title>


                                        <v-card-text>
                                            <v-text-field v-model="searchTerm" rounded placeholder="Search..."></v-text-field>
                                        </v-card-text>
                                        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                                            <div style="margin-bottom: 15px; background-color: rgb(245, 245, 245); border-radius: 5px; height: 60px; width: 90%;     font-weight: bold;
                                            display: flex; cursor: pointer;
                                            justify-content: center;
                                            align-items: center;" v-for="perfil in perfiles" v-if="perfil.username.toLowerCase().includes(searchTerm.toLowerCase())" v-on:click="showPerfil(perfil.username)">
                                               <v-avatar style="position: unset; margin-right: 10px;" class="avatar">
                                                <img :src="perfil.url_img" referrerpolicy="no-referrer"></img>
                                            </v-avatar> 
                                            <v-row justify="center">
                                                <div style="display: flex; flex-direction: column;     align-items: center;
                                                justify-content: center;">
                                                    @{{perfil.username}} <p style="font-size: 13px; margin-bottom: 0; font-weight: normal;">{{perfil.nombre}} {{perfil.apellidos}}</p>
                                                </div>
                                            </v-row>
                                            </div>
                                        </div>
                                        <v-divider></v-divider>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="black" text @click="infoDialog = false">
                                                Close
                                            </v-btn>
                                    </v-card>
                                </v-dialog>
                            </div>
                        </v-col>
                        <button class="btn-up" style="bottom: 20px; position: fixed; right: 50px; display: none;"><v-icon class="left-arrow" style="font-size: 45px;">mdi-arrow-up</v-icon></button>
            </v-row>
        </v-container>
    </v-app>

</body>

<script src="/app2/index.js"></script>

</html>