.v-card__title{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: 2rem;
    word-break: break-all;
}

body{
    cursor: none;
}
.v-card__text {
    width: 100% !important;
}


.span-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 24px 0 0;
    padding: var(--spacing-3) 0 0 0;
}

.span-div::before{
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: .8em;
    margin: 0;
}


.span-div::after{
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: .8em;
    margin: 0;
}

.hr-span{
    text-align: center;
    flex: 0.2 0 auto;
    margin: 0;
}

.btn-sign{
    transition: 0.5s;
    background-color: #dad5d5;
}

.sign-up{
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 770px) {
    .container-flex{
        flex-direction: column;
    }
    .img-logo-img{
        width: 200px;
    }
    .img-logo{
        text-align: center !important;
    }
    .col-before{
        width: 100% !important;
    }
}

@media (max-width: 1300px) {
    .col-before{
        width: 100% !important;
    }
}

@media (max-width: 1900px) {
    .col-before{
        width: 100% !important;
    }
}


fieldset{
    outline: transparent;
    border-bottom: 1px solid grey  !important;
    border-top: 0px  !important;
    border-left: 0px  !important;
    border-right: 0px  !important;
    border-radius: 0px !important;
}

.circle-main{
	position: absolute;
	width: 12px;
	height: 12px;
	margin-top: calc(-1 * 12px / 2);
	margin-left: calc(-1 * 12px / 2);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: white;
	pointer-events: none;
	top: 0;
	left: 0;
	transition: opacity .3s;
	mix-blend-mode: difference;
	z-index: 2;
}

.circle-hide{
	opacity: 0;
}


body{
    cursor: none;

}
.second-circle{
	position: absolute;
	transition: transform .15s, width .3s, height .3s, margin .3s;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	margin-top: calc(-1 * 40px / 2);
	margin-left: calc(-1 * 40px / 2);
	background: white;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 2;
    
}

.circle-scale{
	width: calc(40px * 2);
	height: calc(40px * 2);
	margin-top: calc(-1 * 40px);
	margin-left: calc(-1 * 40px);
}
